@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  width: 100%;
}


@font-face {
  font-family: "roboto";
  src: url("/Roboto-Regular.ttf") format("truetype");
  /* url('/roboto-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-Regular.ttf") format("truetype");
  /* url('/Rubik-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-Regular.ttf") format("truetype");
  /* url('/Rubik-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "super";
  src: url("/fonts/xx.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "super";
  src: url("/fonts/xxt.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "pop";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-style: bold;
}


/* Remove attribute selectors temporarily to test if that's causing the issue */
.ssroller {
  overflow: hidden;
}

.ssroller {
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.sinnerscroller {
  flex-wrap: wrap;
}

.ssroller .sinnerscroller {
  flex-wrap: nowrap !important;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
      transform: translate(calc(-50% - 10px));
  }
}